body {
    display: flex;
    justify-content: center;
    height:100vh;
    align-items:center;
}

#gameboard {
    min-width:320px;
    min-height:320px;
    width:40vw;
    height:40vw;
    background-color: rgb(135, 222, 147);
    display: flex;
    flex-wrap: wrap;
}

.game-piece {
    border-radius: 100%;
    background-color: rgb(72, 72, 168);
    width:5vw;
    min-width:30px;
    margin:5px;
    cursor:pointer;
}

.square {
    width:5vw;
    height:5vw;
    min-width:40px;
    min-height:40px;
    display: flex;
}

.odd-square {
    background-color: #dbd3b3;
}

.even-square {
    background-color: #b8b093;
}

.highlight {
    background-color: greenyellow;
}