#gameboard {
    width:320px;
    height:320px;
    background-color: rgb(135, 222, 147);
    display: flex;
    flex-wrap: wrap;
}

.game-piece {
    border-radius: 100%;
    background-color: rgb(72, 72, 168);
    height:30px;
    width:30px;
    margin:5px;
}

.square {
    width:40px;
    height:40px;
    display: flex;
}

.odd-square {
    background-color: #dbd3b3;
}

.even-square {
    background-color: #b8b093;
}