body {
    display: flex;
    justify-content: center;
    height:100vh;
    align-items:center;
}

#gameboard {
    width:960px;
    height:960px;
    background-color: rgb(135, 222, 147);
    display: flex;
    flex-wrap: wrap;
}

.game-piece {
    border-radius: 100%;
    background-color: rgb(72, 72, 168);
    height:100px;
    width:100px;
    margin:10px;
}

.square {
    width:120px;
    height:120px;
    display: flex;
}

.odd-square {
    background-color: #dbd3b3;
}

.even-square {
    background-color: #b8b093;
}